server {
    listen 80;
    server_name hamup.ir www.hamup.ir;

    # فعال کردن کش برای پاسخ‌های پروکسی شده
#    proxy_cache_path /tmp/nginx_cache levels=1:2 keys_zone=hamup_cache:10m max_size=100m inactive=60m;
#    proxy_cache_key "$scheme$request_method$host$request_uri";

    location / {
        proxy_pass https://hamup.codekit.ir/;
        proxy_set_header Host hamup.codekit.ir;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # تنظیمات کش (۱ دقیقه = ۶۰ ثانیه)
 #       proxy_cache hamup_cache;
 #       proxy_cache_valid 200 302 60s;
 #       proxy_cache_valid 404 1m;
 #       proxy_cache_valid any 1m;
 #       add_header X-Cache-Status $upstream_cache_status;

        # زمان‌های timeout برای جلوگیری از قطع اتصال
        proxy_connect_timeout 30s;
        proxy_send_timeout 30s;
        proxy_read_timeout 30s;

	sub_filter 'hamup.codekit.ir' 'hamup.ir';
        sub_filter_once off;
        sub_filter_types text/html text/css text/javascript application/javascript application/json;
        # ارسال هاست واقعی مقصد
#        proxy_ssl_server_name on;  # اگر مقصد HTTPS دارد
    }

}