server {
        server_name angry.codekit.agency ;

        listen 80;
        listen [::]:80;

        charset utf-8;

        root /home/devops/AngryBirds;

        index index.html index.htm index.nginx-debian.html;


        location / {
                try_files $uri $uri/ /index.html =404;

                if (!-e $request_filename){
                        rewrite ^(.*)$ /index.html break;
                }
        }

}